Flask==3.1.2
Werkzeug==3.1.5
Jinja2==3.1.6

firebase-admin==7.1.0
google-cloud-firestore==2.22.0
google-cloud-storage==3.7.0
google-api-core==2.29.0
google-auth==2.47.0
google-cloud-core==2.5.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.76.0
protobuf==6.33.4

requests==2.32.5
urllib3==2.6.3
certifi==2026.1.4

gunicorn==23.0.0
